# Created by .ignore support plugin (hsz.mobi)
.idea/
.vscode/
**/__pycache__/**
**/.ipynb_checkpoints/**
**/.pytest_cache/**
**/lightning_logs/**
**/.vector_cache/**

**/completions/
**/export

labeling_project/
embeddings/
results/
tt_logs/
data/
dask-worker-space/
debug/
output/

*.model
*.ckpt